#content-tt {
    padding-top: 50px;
    color: black;
}

#tt {
    border-collapse: collapse;
    margin: 0px auto;
    text-align: center;
    width: 70%;
    height: 400px;
}

#thuoctinh {
    text-align: left;
}

#noidungtt {
    text-align: right;
}

tr {
    border-bottom: 1px dashed black;
}